body{
    font-family: 'Roboto';
    font-size: 14px;
}
ul{
list-style: none;
}
a{
text-decoration: none;
}

a :first-of-type{
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}
a:hover{
    color: #070c10;
}
.hd_list{
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;
}
.hd_list a{
    color: #212121
}
.hd_inf{
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.hd_list a:hover{
    color: #2196F3;
}
.hd_inf p:hover{
color: #2196F3; 
}
h1{
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #8f8484;
}
button{
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #8f8484;
}
h3{
font-weight: 700;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
#one{
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
#two{
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
#three{
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
#four{
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
h2{
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

#man{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
#man_2{
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
#wooman{
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
#man_3{
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
p{
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

#logo{
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}
#city{
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
p{
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(78, 76, 76, 0.6);
}

header{
display: flex;
height: 80px;
width: 1600px;
padding: 0px 215px;
}
.hd_list{
    display: flex;
    width: 290px;
    height: 80px;
    margin:0px;
    margin-right: 309px;
    padding-top: 35px;
}
.hd_item:not(:last-child){
margin-right: 54px;
}
    .hd_inf{
        display: flex;
        width: 400px;
        height: 80px;
        padding: 0px;
        margin: 0px;        
        margin-top: 12px;
    } 

.inf_item{
    height: 16px;
    align-items: center;
}
.material-icons{
    margin-top: 15px;
    width: 24px;
    height: 4px;
}
.material-icons:hover{
    color: #2196F3;
}